mat-form-field{
  width: 100%;
}

.container {
  position: relative;
  height: calc( 100vh - 180px);

}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-group{
  overflow-y: scroll;
  height: calc( 100vh - 240px);
}
