/* You can add global styles to this file, and also import other style files */
/*
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

a.clicable{
  cursor: pointer;
}
*/

/*
div.vertical-scrolable-tabs {
  overflow: auto;
  text-align:justify;
}

cds-icon.close-button{
  margin-left: 5px;
  margin-bottom: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
